@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", monospace;
  --font-heading: "Space Grotesk", sans-serif;
}

@layer base {
  html {
    cursor: none;
  }
  body, a, button {
    cursor: none;
  }
  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}
